<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="5" >
      <mat-card class="subcard education" >
        <mat-accordion class="accordion">
          <h1>My Educational Background</h1>
          <mat-expansion-panel [expanded]="true" (opened)="panel1OpenState = true"
                               (closed)="panel1OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Master: Business Informatics
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>at TU Vienna since 2020</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I do there:</h2>
            <p>IT-Security</p>
            <p>Machine Learning, Recommender systems, knowledge graphs</p>
            <p>Distributed Systems, Internet computing</p>
            <p>And much more...</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panel2OpenState = true"
                               (closed)="panel2OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bachelor:
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>at TU Vienna from 2014 to 2021</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I have done there until now:</h2>
            <p>IT-Forensics, Internet Security</p>
            <p>Database design</p>
            <p>Software engineering using SCRUM, Distributed Systems</p>
            <p>And much more...</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panel3OpenState = true"
                               (closed)="panel3OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                High School and college
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna from 2018 to 2013</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Focus on informatics</p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
