@import '~src/theme';

h1{
  padding-bottom: 10px;
}

.education{
  position: absolute; // needed here to overwrite mat-card position relative
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-y: auto;
}
.accordion{
  width: 100%;
}

.panel-description{
  display: flex;
  justify-content: end;
}
