@import '~src/theme';
h1{
  font-size: larger;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
  padding-right: 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#visitcard{
  color: mat-color($accent);
}
