<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="4" [rowspan]="6" >
      <mat-card class="subcard professional" >
        <mat-accordion class="accordion">
          <h1 id="title">My professional Experiences</h1>
          <mat-expansion-panel [expanded]="true" (opened)="panel2OpenState = true"
                               (closed)="panel2OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Lead Software Engineer
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna, Dec. 2017 - Now</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I have done there until now:</h2>
            <p>Lead developer since 2020 and mentoring of Junior-Developers</p>
            <p>Technical conception and development of new functionalities</p>
            <p>Software full stack development with:</p>
            <p>C#, .Net, Typescript, Javascript, Vue, Bootstrap 4, SQL, Git, SCSS, HTML5</p>
            <p>Security analyses and Qualitative enhancements of software products</p>
            <p>Scrum way of work</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panel1OpenState = true"
                               (closed)="panel1OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Waiter
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna, March 2016 – Nov. 2017</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I did there:</h2>
            <p>Service and Bar at JUFA Holding GmbH</p>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panel3OpenState = true"
                               (closed)="panel3OpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sales worker
              </mat-panel-title>
              <mat-panel-description class="panel-description">
                <span>in Vienna, Dec. 2014 – Nov. 2017</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h2>What I did there:</h2>
            <p>Customer advisor and Sales force at  IKEA Austria GmbH</p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
